{% extends "base.html.twig" %}

{%  block header %}

    <!-- TODO ADD SCRIPT TO OPEN MENU IN MOBILE-->

    <header>

        <!-- RESPONSIVE ZONE -->
        <button onclick="showDiv()" id="button-show-menu"><i class="fi-rr-align-left"></i></button>

        <img src="/assets/imgs/3cvomVt.png" class="responsive-header-logo" alt="Logo">
        <!-- /RESPONSIVE ZONE -->

        <div id="header-right-side">

        <div id="search-bar-content">
        <input type="text" class="header-search-bar" placeholder="Rechercher">
        </div>

        </div>
    </header>

    <script>
        function showDiv() {
            document.getElementById('side-menu').style.display = "block";
        }
    </script>

{% endblock %}