{% extends "base.html.twig" %}

{%  block header %}

    <!-- TODO ADD SCRIPT TO OPEN MENU IN MOBILE-->

    <header>

        <!-- RESPONSIVE ZONE -->
        <a href="javascript:void(0);" class="icon responsive-icon" onclick="">
            <i class="fi-rr-align-left"></i>
        </a>
        <a href="javascript:void(0);" class="icon responsive-icon" onclick="">
            <i class="fi-rr-zoom-in"></i>
        </a>

        <img src="https://i.imgur.com/3cvomVt.png" class="responsive-header-logo" alt="Logo">
        <!-- /RESPONSIVE ZONE -->

        <div id="header-right-side">

        <div id="search-bar-content">
        <input type="text" class="header-search-bar" placeholder="Rechercher">
        </div>

        </div>

        <div id="header-left-side">
            <a href="javascript:void(0);" class="icon" onclick="">
                <i class="fi-rr-following"></i>
            </a>
            <a href="javascript:void(0);" class="icon" onclick="">
                <i class="fi-rr-paper-plane"></i>
            </a>
        </div>
    </header>


{% endblock %}