{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: Appartements{% endblock %}

{% block body %}
    <div class="page-info">
        <img src="https://lh3.googleusercontent.com/proxy/N8Rxq3ofweggJzhJDnJRiKBrObQ2o5_UUFC6CIezWyFjCYx-fKncIzf6wMofKeFF7lw3ldFDxajpGyQyeMvIK6zd5v55E4iRPPMDI9zXLKIUuyFOf9Oo_D6NU9WN">
        <div class="page-info--content">
            <h1>Nos appartements</h1>
            <span>Ici tu pourras voir la liste de tous nos appartements, en cliquant sur "S'y rendre" tu accèderas directement à l'appartement en question sur Habbocity</span>
        </div>
    </div>
<div class="roomlist">


    {% for room in roomlist %}
        <div class="room" style="background-image: url('{{ room.thumbnail }}');">
                <div class="room--title">
                        <h2>{{ room.name }}</h2>
                </div>
            <a href='http://habbocity.me/room/{{ room.cityid }}' class="btn-go-to-cityroom">
                S'y rendre >>
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}
