<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/sass/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/uicons/css/uicons-regular-rounded.css">
        <link rel="shortcut icon" href="https://images.habbo.com/habbo-web/america/en/assets/images/favicon.08c747be.ico">
        <title>{% block title %}{{ site_name }} :{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <!-- Header -->
    {{ block('sidemenu', "menu/index.html.twig") }}

    <!-- Container right side -->
    <div id="container">
     {{ block('header', "components/global/header.html.twig") }}

        <div class="page-content">
        {% block body %}
            
        {% endblock %}
        </div>

    </div>
    </body>
</html>
