<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/sass/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/uicons/css/uicons-regular-rounded.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {{ block('sidemenu', "menu/menu.html.twig") }}
    <div id="container">
    {{ block('header', "components/global/header.html.twig") }}
    </div>
    {% block body %}

    {% endblock %}
    </body>
</html>
