{% extends "base.html.twig" %}

{%  block body %}

    <h1>Actualité</h1>

    <div class="index-news-list">

    <a href="#" id="last-news">
        <div id="test">

        </div>
    </a>

        <div class="other-news">
            <a href="#" id="a-news"><div id="testt"></div></a>
            <a href="#" id="a-news"> <div id="testt"></div></a>
            <a href="#" id="a-news"><div id="testt"></div></a>
        </div>


    </div>

{% endblock %}