{% extends "base.html.twig" %}

{%  block body %}

    <h1>Actualité</h1>

    <div class="index-news-list">

    <a href="#" id="last-news">
            <div class="last-article-content">
           <div id="article-title">
             <span id="article-title-text">{{ lastarticle[0].title }} </span>
           </div>
            </div>
    </a>

        <div class="other-news">
            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[1].title }} </span>
                    </div>
                </div>
            </a>
            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[2].title }} </span>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div id="btn-see-more-news"><a href="#">
            Voir plus de news... <i class="fi-rr-eye"></i>   </a></div>

    <div class="index-two-columns">
        <div class="last-appartments">
            <h1>Derniers appartements</h1>

            <div class="appartment">
                <div id="room-icon"></div>
                <div id="room-desc">
                    <h2>Room title</h2>
                    <span id="room-slug">Lortem Ipsu blablabklalallalalalalallalalalalall</span>
                </div>
                <a href="#" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
            </div>

            <div class="appartment">
                <div id="room-icon"></div>
                <div id="room-desc">
                    <h2>Room title</h2>
                    <span id="room-slug">Lortem Ipsu blablabklalallalalalalallalalalalall</span>
                </div>
                <a href="#" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
            </div>

            <div class="appartment">
                <div id="room-icon"></div>
                <div id="room-desc">
                    <h2>Room title</h2>
                    <span id="room-slug">Lortem Ipsu blablabklalallalalalalallalalalalall</span>
                </div>
                <a href="#" id="gotoroom"><i class="fi-rr-angle-double-small-right"></i></a>
            </div>
        </div>

        <div class="last-contest">
            <h1>Concours actuel</h1>
        </div>

    </div>



{% endblock %}