{% extends "base.html.twig" %}

{%  block body %}

    <h1>Actualité</h1>

    <div class="index-news-list">

    <a href="#" id="last-news">
            <div class="last-article-content">
           <div id="article-title">
             <span id="article-title-text">{{ lastarticle[0].title }} </span>
           </div>
            </div>

    </a>

        <div class="other-news">

            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[1].title }} </span>
                    </div>
                </div>
            </a>


            <a href="#" id="a-news">
                <div class="last-article-content">
                    <div id="article-title">
                        <span id="article-title-text">{{ lastarticle[2].title }} </span>
                    </div>
                </div>
            </a>

        </div>



    </div>

{% endblock %}