{%  extends "base.html.twig" %}

{% block sidemenu %}

    <div id="side-menu">

        <div class="side-menu-container">

            <div class="top-menu">
                <img src="https://i.imgur.com/3cvomVt.png" class="menu-logo">
                <button onclick="closeDiv()" id="button-close-menu"><i class="fi-rr-cross"></i></button>
            </div>
            <!--
            <button class="menu-btn btn-login">Se connecter</button>
            <button class="menu-btn btn-register">S'inscrire</button>

            This will be active when connexion system will be made
            -->
            <div class="profile-menu-show">

                <div id="profile-pic"></div>
                <span id="photo-pseudo">Leafron Rien</span>
                <span id="photo-rank">Administrateur</span>

                <div class="user-purse-info">
                    <div class="purse-info">1000 <span>gagnées</span></div>
                    <hr>
                    <div class="purse-info">1000 <span>gagnées</span></div>
                    <hr>
                    <div class="purse-info">1000 <span>gagnées</span></div>
                </div>
            </div>

            <nav>
                <ul>
                    {{ render(controller(
                        'App\\Controller\\MenuController::getMenu'
                    )) }}
                </ul>
            </nav>

        </div>

    </div>

    <script>
        function closeDiv() {
            document.getElementById('side-menu').style.display="none";
        }
    </script>

{% endblock %}