{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-not-found flx-column">
        <img src="https://i.skyrock.net/7861/30287861/pics/1054452770.gif" alt="Frank is lost">
    <h1>Oops ! Il doit il y avoir une erreur :-(</h1>

    <p>
        La page que tu as tenté de trouver n'existe pas.
    </p>
    </div>
{% endblock %}