@use 'vars' as global
@use 'menu' as menu

body
  background-color: global.$main-bg-color
  font-family: global.$font-family
  margin: 0
  display: flex
  flex-direction: row

/* CORE CONTAINER*/
#container
  border-radius: 10px 0 0 10px
  width: 80%
  display: flex
  flex-direction: column
  padding-left: 50px
  padding-right: 50px
  color: white

/** SIDE NAVIGATION PART STYLE (Will need refactor) **/

.side-menu
  color: global.$font-color
  font-size: global.$font-size
  width: 20%
  height: 100vh
  background-color: menu.$menu-bg-color
  display: flex
  flex-direction: column
  border-radius: 0 10px 10px 0

  .side-menu-container
    width: 80%
    margin-left: auto
    margin-right: auto
    margin-top: 30px

.menu-logo
  width: 100px
  height: 50px
  margin-bottom: 50px

/* Profile Part */
.profile-menu-show
  width: 100%
  display: flex
  flex-direction: column
  text-align: center
  margin-bottom: 50px

#profile-pic
  width: 90px
  height: 90px
  border-radius: 100%
  /*Temporary*/
  background-image: url('https://i.pinimg.com/originals/29/9e/8c/299e8c29e0623ec1b0ee74ad4b111f6d.png')
  background-position-y: -300px
  background-position-x: -100px
  /* / Temporary*/
  margin: auto

#photo-pseudo
  margin-top: 20px
  font-size: 1.3em
#photo-rank
  font-size: 0.8em
  color: #868585

.user-purse-info
  margin-top: 20px
  width: 100%
  display: flex
  flex-direction: row
  span
    font-size: 0.9em
    font-weight: 1
    color: #7a7979
hr
  border:         none
  border-left:    1px solid hsla(200, 10%, 50%,100)
  height:         20px
  width:          1px


/* NAVIGATION PART */
nav
  ul
    list-style-type: none
    padding: 0
  li
    width: 100%
    height: 50px
    margin-bottom: 5px
    border-radius: 5px
    transition: ease-out 0.2s
    display: flex
    flex-direction: row

    &:hover
      cursor: pointer
      background-color: menu.$li-hover-color
      padding-left: 10px
      transition: ease-in 0.2s

  h3
    color: lightgrey
    font-weight: 1
  a
    position: relative
    bottom: 5%
    text-decoration: none
    color: lightgrey
    &:focus
      color: white
    &:hover
      color: menu.$link-hover-color

  i
    margin-right: 10px


  .li-content
    position: relative
    top: 30%

button
  font-family: global.$font-family
  font-size: 0.9em
  color: white

button:hover
  cursor: pointer

button:focus
  outline: 0

/* HEADER PART */
header
  width: 100%
  height: 100px
  padding-top: 20px
  display: flex
  flex-direction: row

  a
    color: white
    margin-left: 20px
    font-size: 20px
    text-decoration: none

  .responsive-icon
    display: none

#search-bar-content
  padding-left: 100px
  input
    width: 300px
    height: 50px
    border-radius: 10px
    font-family: global.$font-family
    background-color: #494d64
    border: none
    font-size: 1em
    padding-left: 30px
    color: white

    &:focus
      outline: none

.responsive-header-logo
  width: 120px
  margin: auto
  height: 50px
  display: none

#header-left-side
  position: absolute
  right: 100px
  top: 30px


.index-news-list
  display: flex
  flex-direction: row

#last-news
  width: 60%
  height: 320px
  background-image: url('https://images.habbo.com/web_images/habbo-web-articles/lpromo_2021_habbonew.png')
  background-size: cover
  margin-right: 10px
  border-radius: 5px
  transition: ease-in 0.2s
  &:hover
    width: 61%
    height: 325px
    transition: ease-in 0.2s


.other-news
  width: 40%
  display: flex
  flex-direction: column

#a-news
  width: 100%
  height: 100px
  background-image: url("https://images.habbo.com/web_images/habbo-web-articles/lpromo_gen15_07.png")
  background-size: cover
  margin-bottom: 10px
  border-radius: 5px
  transition: ease-in 0.2s
  &:hover
    height: 105px
    transition: ease-in 0.2s

.last-article-content
  width: 100%
  height: 100%
  display: flex
  flex-direction: column-reverse

#article-title
  width: 80%
  height: 40px
  color: white
  border-radius: 5px
  text-decoration: none
  background-color: black
  opacity: 0.7
  position: relative
  bottom: 10px
  left: 10px
  padding-left: 10px

  span
    position: relative
    top: 30%

/* MEDIA QUERIES PART */

@media screen and (max-width: 960px)

  header
    #header-left-side
      right: 30px
      top: 20px
    #search-bar-content
      display: none
    .responsive-icon
      display: block

  .side-menu
    display: none

  .responsive-header-logo
    display: block

  #container
    padding-left: 0
    padding-right: 0

  .page-content
    margin-left: 30px

  .index-news-list
    flex-direction: column

  #last-news
    width: 100%
    height: 200px
    margin-bottom: 10px
    &:hover
      width: 100%
      height: 205px

  .other-news
    width: 100%





